    .logo {
        display: flex;

    }

    .logo img {
        width: 124px;
    }

    .navbar {
        background-color: transparent;
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Segoe UI';
        color: white;

    }

    .sec1 {
        color: #94a3b8;
    }

    .sec2 {
        color: #94a3b8;
    }

    .right ul {
        display: flex;
        gap: 34px;
    }

    .right ul li {
        list-style: none;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .right ul li span {
        padding: 0 5px;
    }

    body {
        background: linear-gradient(180deg,
                #0A1028 0%,
                #070B1F 50%,
                #050815 100%);
    }

    .first {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding: 8px;
        margin: 10px
    }

    .first span {

        font-family: system-ui;
        font-size: 50px;
        align-items: center;

    }

    .A button {
        font-size: 15px;
        font-family: bold;
        margin-top: 2px;
        background: rgb(101, 233, 180);
        padding: 5px 10px;
        COLOR: rgb(13, 78, 62);
        border-radius: 20px;
        border: none;

    }

    .B {
        font-size: 15px;
        width: 47vw;
        text-align: center;
        font-family: sans-serif;
        color: #94a3b8;
    }

    .second {
        display: flex;
        gap: 15px;
        padding: 5px;
    }

    .second button {
        padding: 10px 20px;

        border-radius: 10px;
        border: 1 black;
    }

    .a {
        background: #22c55e;
        text-align: center;
        font-style: bold;

    }

    .a div {
        color: white;
    }

    .b {
        background: transparent;
        color: white;
    }

    .flex {
        display: flex;

    }

    .third {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .grid {
        padding: 20px;
        margin: 50px 75px;
        background: #12172b;
        border-radius: 15px;
        width: 250px;
        height: 110px;
        text-align: center;


    }

    .item-lang1 {
        color: white;
        font-size: 15px;
        font-family: system-ui;
        padding-top: 15px;
    }

    .item-lang2 {
        color: #94a3b8;
        font-size: 13px;
        font-family: system-ui;
        padding-top: 15px;

    }

    .photo1 {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        filter: invert(1);
    }

    .full {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        padding: 8px;
        margin: 10px
    }

    .full :nth-child(1) {
        font-family: system-ui;
        font-size: 40px;
        color: white;
    }

    .full :nth-child(2) {
        font-family: system-ui;
        font-size: 12px;
        color: #94a3b8;
        text-align: center;
    }

    .fourth {
        background: #12172b;
    }

    .fourth1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }


    .grid1 {
        padding: 30px;
        margin: 41px 85px;
        background: #4c5460;
        border-radius: 14px;
        width: 250px;
        height: 130px;
        text-align: -webkit-left;
        color: white;
    }

    .grid2 {
        padding: 30px;
        margin: 41px 85px;
        background: #4c5460;
        border-radius: 14px;
        width: 250px;
        height: 130px;
        text-align: -webkit-left;
        color: white;
    }

    .grid3 {
        padding: 30px;
        margin: 41px 85px;
        background: #4c5460;
        border-radius: 14px;
        width: 250px;
        height: 130px;
        text-align: -webkit-left;
        color: white;
    }

    .grid4 {
        padding: 30px;
        margin: 41px 85px;
        background: #4c5460;
        border-radius: 14px;
        width: 250px;
        height: 130px;
        text-align: -webkit-left;
        color: white;
    }

    .grid5 {
        padding: 30px;
        margin: 41px 85px;
        background: #4c5460;
        border-radius: 14px;
        width: 250px;
        height: 130px;
        text-align: -webkit-left;
        color: white;
    }

    .grid6 {
        padding: 30px;
        margin: 41px 85px;
        background: #4c5460;
        border-radius: 14px;
        width: 250px;
        height: 130px;
        text-align: -webkit-left;
        color: white;
    }

    /* .fourth1-item-lang1 {
        color: white;
        font-size: 15px;
        font-family: system-ui;
        padding-top: 15px;
    } */

   

    .badge {
        width: 32px;
        height: 32px;
        background-color: #0f3833;
        /* Dark green background */
        color: #34d399;
        /* Bright green text */
        border-radius: 50%;
        /* Makes it a circle */
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 600;
    }